<div
  class="kat:inline-flex kat:flex-col kat:absolute kat:z-[1001] kat:bg-neutral-700 kat:rounded-lg kat:shadow-lg kat:outline-none kat:w-max kat:overflow-hidden focus-visible:kat:outline-2 focus-visible:kat:outline-offset-2 focus-visible:kat:outline-white/50 kat:rounded-br-none kat:bottom-full kat:right-0"
  role="menu"
  tabindex="-1"
  style="max-height: 601px; max-width: 1211px"
>
  <div
    class="kat:w-200 kat:flex kat:flex-col kat:overflow-hidden"
    data-testid="playback-speed-menu"
  >
    <div
      role="menu"
      aria-label="Playback Speed"
      class="kat:flex kat:flex-col kat:min-h-0 kat:flex-1"
    >
      <div
        role="separator"
        class="kat:ps-20 kat:pe-20 kat:pt-20 kat:pb-12 kat:text-start kat:sticky kat:top-0 kat:z-10 kat:bg-neutral-700"
      >
        <span
          class="kat:text-[18px] kat:font-bold kat:leading-24 kat:tracking-[-0.54px] kat:text-white kat:select-none"
          >Playback Speed</span
        >
      </div>
      <div class="kat:overflow-y-auto kat:max-h-468">
        <div
          role="menuitemradio"
          aria-label="0.5x"
          aria-checked="false"
          aria-disabled="false"
          tabindex="0"
          class="kat:flex kat:items-center kat:gap-4 kat:cursor-pointer kat:transition-colors kat:select-none kat:ps-20 kat:pe-20 kat:pt-13 kat:pb-13 kat:hover:bg-neutral-600 kat:focus-visible:outline-4 kat:focus-visible:-outline-offset-4 kat:focus-visible:outline-orange-500 kat:focus-visible:bg-neutral-600 kat:active:bg-neutral-500"
        >
          <div
            class="kat:flex kat:flex-col kat:flex-1 kat:min-w-0 kat:gap-2 kat:text-start"
          >
            <span class="kat:text-sm kat:leading-20 kat:text-neutral-50"
              >0.5x</span
            >
          </div>
          <div class="kat:w-24 kat:h-24 kat:shrink-0"></div>
        </div>
        <div
          role="menuitemradio"
          aria-label="0.75x"
          aria-checked="false"
          aria-disabled="false"
          tabindex="0"
          class="kat:flex kat:items-center kat:gap-4 kat:cursor-pointer kat:transition-colors kat:select-none kat:ps-20 kat:pe-20 kat:pt-13 kat:pb-13 kat:hover:bg-neutral-600 kat:focus-visible:outline-4 kat:focus-visible:-outline-offset-4 kat:focus-visible:outline-orange-500 kat:focus-visible:bg-neutral-600 kat:active:bg-neutral-500"
        >
          <div
            class="kat:flex kat:flex-col kat:flex-1 kat:min-w-0 kat:gap-2 kat:text-start"
          >
            <span class="kat:text-sm kat:leading-20 kat:text-neutral-50"
              >0.75x</span
            >
          </div>
          <div class="kat:w-24 kat:h-24 kat:shrink-0"></div>
        </div>
        <div
          role="menuitemradio"
          aria-label="1x"
          aria-checked="true"
          aria-disabled="false"
          tabindex="0"
          class="kat:flex kat:items-center kat:gap-4 kat:cursor-pointer kat:transition-colors kat:select-none kat:ps-20 kat:pe-20 kat:pt-13 kat:pb-13 kat:bg-white/6 kat:hover:bg-neutral-600 kat:focus-visible:outline-4 kat:focus-visible:-outline-offset-4 kat:focus-visible:outline-orange-500 kat:focus-visible:bg-neutral-600 kat:active:bg-neutral-500"
        >
          <div
            class="kat:flex kat:flex-col kat:flex-1 kat:min-w-0 kat:gap-2 kat:text-start"
          >
            <span class="kat:text-sm kat:leading-20 kat:text-neutral-50"
              >1x</span
            >
          </div>
          <div class="kat:w-24 kat:h-24 kat:shrink-0">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="kat:text-white"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM15.7929 8.29289L17.2071 9.70711L10.5 16.4142L6.79289 12.7071L8.20711 11.2929L10.5 13.5858L15.7929 8.29289Z"
                fill="currentColor"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
